:root {
  --background-main: #E5E5E5;
  --color-border: #c0c0c0;
  --text-primary: #000000;
  --text-secondary: #c0c0c0;

}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--background-main);
}

header {
  width: 100vw;
  height: 5.5rem;
  background: var(--background-main);
  border-bottom: 1px solid #bbbbbb;
}

.container {
  width: 1069px;
  margin: 1rem auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-right: 1rem;
}

form {
  display: flex;
  align-items: center;
  width: 80%;
  height: 3.7rem;
  margin-right: 6.8rem;
}


form input {
  flex: 1;
  padding: 1.4rem;
  font-size: 1rem;
  border: 0;
  border-radius: 5rem 0 0 5rem;
  outline: none;
}

form input:focus {
  border: 1px solid #bbbbbb;
}

form a img {
  display: flex;
  background: #ffffff;
  padding: 1.25rem;
  border: 0;
  border-radius: 0 5rem 5rem 0;
}

header .perfil {
  display: flex;
  align-items: center;
}

.perfil img {
  margin-right: 0.7rem;
}

.perfil h1 {
  font-size: 0.9rem;
}

.perfil p {
  font-size: 0.8rem;
}

.perfil a img {
  margin-left: 2rem;
  align-items: right;
}

main {
  display: flex;
  align-items: top;
  justify-content: space-between;
  gap: 1.8rem;
  width: 70rem;
  margin: 1.5rem auto;
}

main .profile {
  background: white;
  width: 16.8rem;
  height: 37.5rem;
  border: 0;
  border-radius: 1.8rem;
}

article {
  background: white;
  width: 31.2rem;
  height: 37.5rem;
  border: 0;
  border-radius: 1.8rem;
}

main .friends {
  background: white;
  width: 20rem;
  height: 28.1rem;
  border: 0;
  border-radius: 1.8rem;
}