:root {
  --background-main: #E5E5E5;
  --color-border: #c0c0c0;
  --text-primary: #000000;
  --text-secondary: #c0c0c0;

}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--background-main);
}

header {
  width: 100vw;
  height: 5.5rem;
  background: var(--background-main);
  border-bottom: 1px solid #bbbbbb;
}

.container {
  width: 1069px;
  margin: 1rem auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-right: 1rem;
}

form {
  display: flex;
  align-items: center;
  width: 80%;
  height: 3.7rem;
  margin-right: 6.8rem;
}


form input {
  flex: 1;
  padding: 1.4rem;
  font-size: 1rem;
  border: 0;
  border-radius: 5rem 0 0 5rem;
  outline: none;
}

form input:focus {
  box-shadow: 0 0 1em #bbbbbb;
}

form a img {
  display: flex;
  background: #ffffff;
  padding: 1.25rem;
  border: 0;
  border-radius: 0 5rem 5rem 0;
}

header .perfil {
  display: flex;
  align-items: center;
}

.perfil img {
  margin-right: 0.7rem;
}

.perfil h1 {
  font-size: 0.9rem;
}

.perfil p {
  font-size: 0.8rem;
}

.perfil a img {
  margin-left: 2rem;
  align-items: right;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 90vh;
  grid-gap: 1.8rem;
  align-content: center;
  width: 70rem;
  margin: 1.5rem auto;
}

section .profile {
  background: white;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 37.5rem;
  border: 0;
  border-radius: 1.8rem;
}

main {
  background: white;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 31.2rem;
  height: 90vh;
  border: 0;
  border-radius: 1.8rem;
}

section .friends {
  background: white;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 20rem;
  height: 60vh;
  border: 0;
  border-radius: 1.8rem;
}

article {
  background: white;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 20rem;
  height: 28.1rem;
  border: 0;
  border-radius: 1.8rem;
}

section .profile .perfil {
  display: flex;
  margin: 2.5rem auto 0.6rem;
}

section .profile .name {
  display: flex;
  gap: 0.25rem;
  align-content: center;
  justify-content: center;
}

section .profile h2 {
  font-size: 1.3rem;
}

section aside p {
  font-size: 0.8rem;
  text-align: center;
  color: var(--text-secondary);
}

section aside .line {
  border-top: 1px solid #bbbbbb;
  margin: 1.3rem auto;
  width: 11.8rem;
}

section .profile .list-perfil {
  margin-top: 2.5rem;
  margin-left: 2.5rem;
}

section .profile .list-perfil ul li {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
}

section .profile .list-perfil ul li+li {
  margin-top: 1.8rem;
}

main {
  height: 37.5rem;
  padding: 2.5rem;
}

main h2 {
  margin-bottom: 2.5rem;
}

main .qualities {
  display: flex;
  justify-content: space-between;
  /*margin-bottom: 2.5rem;*/
}

main .qualities p {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #888888;
  margin-bottom: 0.5rem;
}

main .qualities-testimonial span {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 600;
}

main .qualities-fans span {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 600;
}

.line1 {
  width: 26.2rem;
  margin: 2.5rem auto;
  border-bottom: 1px solid #d3d3d3;
}

.personal-data .sobre {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 1.5rem;
}

.personal-data .sobre span {
  font-size: 14px;
  line-height: 21px;
  color: #888888;
}

.personal-data .sobre p {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.personal-data .idade {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 1.5rem;
}

.personal-data .idade span {
  font-size: 14px;
  line-height: 21px;
  color: #888888;
}

.personal-data .idade p {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.personal-data .orientacao {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 1.5rem;
}

.personal-data .orientacao span {
  font-size: 14px;
  line-height: 21px;
  color: #888888;
}

.personal-data .orientacao p {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.personal-data .relacionamento {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 1.5rem;
}

.personal-data .relacionamento span {
  font-size: 14px;
  line-height: 21px;
  color: #888888;
}

.personal-data .relacionamento p {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.personal-data .cidade {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 1.5rem;
}

.personal-data .cidade span {
  font-size: 14px;
  line-height: 21px;
  color: #888888;
}

.personal-data .cidade p {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.personal-data .interesse {
  display: flex;
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;
}

.personal-data .interesse span {
  font-size: 14px;
  line-height: 21px;
  margin-right: 2.5rem;
  color: #888888;
}

.personal-data button {
  width: 90px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.personal-data .destak {
  width: 90px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  line-height: 18px;
  background-color: #ED2590;
  color: #ffffff;
}

.personal-data button+button {
  margin-left: 10px;
}